@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,500;1,500&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}
